/*Paleta de colores FONDO #ECBE45, FOOTER #F5DEA0 LETRA TITULO, FLECHAS #652F30*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #ECBE45;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.bee{
    padding: 150px 0px;
}

.swiper-slide{
    font-size: 18px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after{
    font-size: 25px;

}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-prev{
    color: #652F30;
    font-size: 18px;
}

.swiper-button-next{
    color: #652F30;
    font-size: 18px;
}

.swiper-pagination-bullet{
    background-color: black;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: #652F30;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu.logo img{
    width: 30px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 10px;
    padding: 20px;
    color: #652F30;
    display: block;
}

.menu .navbar ul li a:hover{
    color: whitesmoke;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    text-align: right;
    margin-top: 100px;
}

.slider{
    width: 1100px;
}

.enlace{
    display: inline-block;
    color:#652F30;
    margin-top: 15px;
}
